# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/LeetCodeProblemsCPlusPlus/.vs/LeetCodeProblemsCPlusPlus/FileContentIndex/*.vsidx
/LeetCodeProblemsCPlusPlus/.vs/LeetCodeProblemsCPlusPlus/v17/*.suo
/LeetCodeProblemsCPlusPlus/.vs/LeetCodeProblemsCPlusPlus/v17/*.db
/LeetCodeProblemsCPlusPlus/.vs/LeetCodeProblemsCPlusPlus/v17/ipch/AutoPCH/108e46ccca5ce99d/*.ipch
/LeetCodeProblemsCPlusPlus/*.user
